.button {
  color:          #fff;
  display:        block;
  background:     #52B749;
  width:          250px;
  height:         50px;
  margin:         15px auto;
  text-transform: uppercase;
  font-size:      15px;
  font-weight:    bolder;
}
