.talkinput {
  min-height:     63px;
  overflow:       hidden;
  font-size:      24px;
  color:          black;
  background:     #fff;
  padding:        15px;
  margin:         0 auto;
  text-align:     center;
  text-transform: uppercase;
  letter-spacing: 1px;

  @mixin mediumlargescreen {
    max-width: 520px;
  }
}
